---
layout: default
title: Fossil Checklist
permalink: /Fossils/
---
<h1>Fossils</h1>

<form>
    <div class="row">
        <div id="checkboxes" class="column">
            {% for Fossil in site.data.lists.fossils %}
            <div>
                <label for="{{Fossil}}">
                    <input type="checkbox" id="{{Fossil}}" />{{Fossil}}
                </label>
            </div>
            {% endfor %}
        </div>


        <div class="column">
            <h2>Fossils Acquired</h2>
            {% for Fossil in site.data.lists.fossils %}
            <div id="have{{Fossil}}">{{Fossil}}</div>
            {% endfor %}
        </div>
        <div class="column">
            <h2>Fossils needed</h2>
            {% for Fossil in site.data.lists.fossils %}
            <div style="display:none" id="need{{Fossil}}">{{Fossil}}</div>
            {% endfor %}
        </div>
    </div>
</form>